.footer{
    background-color: bisque;
#konten0 {
    height: 350px;
}

#konten {
    height: 250px;
}

#footer0 {
    
    background-color: cornflowerblue;
}

.card-title {
    color: blue;
}

#text {
    color: darkblue;
}

h4 {
    color: dodgerblue;
}